{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }}{% endblock %}
{% block header %}<h1 class="text-center">{{ group.title }}</h1> {% endblock %}

{% block content %}
    <h3 class="text-center">{{ group.description }}</h3>
    <br>
    <div class="container">
        <!-- Вывод ленты записей -->
        {% for post in page %}
            {% include "includes/post_item.html" with post=post %}
        {% endfor %}
    </div>

    <!-- Вывод паджинатора -->
    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endblock %}
